name: Good First Issues

on:
  push:
    branches: [master]
  pull_request:
    branches: "*"

jobs:
  Linter:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Black Lint
        run: |
          pip install black
          black .
